<form (ngSubmit)="onSaveClick()" [formGroup]="form" class="highlighted board-form modal">
    <div class="modal-container">
        <h2 class="form__title">Board</h2>
        <div class="form-container__input">
            <label for="name">Name: <input [value]="board.name" formControlName="name" id="name"> </label>
        </div>
        <div class="form-container__input">
            <label for="description">Description:
                <input [attr.disabled]="isDescriptionDisabled ? 'disabled': null"
                       [value]="board.description"
                       formControlName="description"
                       id="description">
            </label>
        </div>

        <button (click)="onCloseClick()" class="button" id="buttonClose" type="button">Cancel</button>
        <button class="button" id="buttonSave" type="submit">Save</button>
    </div>
</form>
