<form [formGroup]="form"  class="highlighted board-form modal" (ngSubmit)="onSaveClick()">
    <div class="modal-container">
        <h2 class="form__title">Board</h2>
        <div class="form-container__input">
            <label for="name">Name:
                <input id="name" [value]="board.name" formControlName="name">
            </label>
        </div>
        <div class="form-container__input">
            <label for="description">Description:
                <input id="description"
                       formControlName="description"
                       [value]="board.description"
                       [attr.disabled]="isDescriptionDisabled ? 'disabled': null">
            </label>
        </div>

        <button type="button" class="button" id="buttonClose" (click)="onCloseClick()">Cancel</button>
        <button type="submit" class="button" id="buttonSave" >Save</button>
    </div>
</form>
