<section class="dashboard">
    <header>
        <h1 class="dashboard__title">Dashboard</h1>

        <div class="dashboard-search container">
            <input #filterInput (keyup)="onFilterChange()" class="dashboard__search-input" id="input-search" placeholder="Filter"/>
            <div class="search"></div>


            <select #sortTypeSelect>
                <option value="name">Name</option>
                <option value="createdAt">Date of creation</option>
                <option value="newTasks">Number of new task</option>
                <option value="tasksInProgress">Number of in progress</option>
                <option value="tasksDone">Number of done</option>
            </select>

            <button (click)="onSortClick('ascending')" class="button dashboard__button" id="sortButton">Asc</button>
            <button (click)="onSortClick('descending')" class="button dashboard__button">Desc</button>
        </div>
    </header>

    <main class="main">
        <button (click)="onCreateClick()" class="button--create" id="createButton">
            <img alt="plus icon" src="https://img.icons8.com/nolan/64/plus-2-math.png"/>
            <div class="button--create__description">Add new</div>
        </button>

        <ng-container *ngFor="let board of (boards$ | async | boardFilter:filterInput.value)" class="board-container">
            <app-board-card (delete)="onDeleteClick($event)"
                            (open)="onOpenClick($event)"
                            (patch)="onPatchClick($event)"

                            [board]="board"
                            [id]="board.id"
                            class="board"
            ></app-board-card>
        </ng-container>
    </main>

    <app-board-modal
            (close)="onModalClose()"
            (save)="onModalSave($event)"
            *ngIf="isModalVisible"
            [board]="selectedBoard"
            class="modal-board"
            id="createModal"
    ></app-board-modal>
</section>


