$primary-color: #bb8ee7;
$white-color: #ffffff;
$light-grey-color: #DEDEDE;
$dark-grey-color: #A2A2A2;
$border-light: #3e0844;
$border-dark: #2f135b;


:host {
    font-size: 16px;
    text-align: center;
    max-width: 1200px;
    display: flex;
    padding: 1rem 2rem;
    color: $white-color;
    margin: 0 auto;

    .dashboard {
        margin: 0 auto;
        background-color: $border-dark;
        padding: 1rem 2rem;
        text-align: center;
        font-size: 16px;
        //background-color: #e4bfe8;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-__title {
            font-size: 2rem;
            font-style: italic;
            color: $primary-color;
        }

    }

    .dashboard-search {
        padding: 1rem;
        display: flex;
        align-content: flex-end;
        justify-content: space-evenly;
        outline: #bb8ee7;
        border: dotted 1px $border-light;
        font-size: 2rem;

        > * {
            margin-right: 0.5rem;
            background-color: #8f8fd9;
        }

        &:active,
        &:focus {
            outline: #b4b41a;
        }
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .board-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-left: 0.5rem;

    }

    .board {
        display: flex;
        padding: 0.3rem;
        margin: 1rem;
        width: 20%;
    }

    .modal-board {
        border-radius: 5%;
        border: 1px solid #00ff95;
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem;
        flex-basis: 50%;
    }



}
@media (max-width: 768px){
    :host {
        font-size: 14px;
        text-align: center;
        display: flex;
        padding: 0.5rem 1rem;
        color: $white-color;
        margin: 0 auto;

        .dashboard {
            margin: 0 auto;
            background-color: $border-dark;
            padding: 0.5rem 1rem;
            text-align: center;
            font-size: 14px;
            //background-color: #e4bfe8;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-__title {
                font-size: 1.5rem;
                font-style: italic;
                color: $primary-color;
            }

        }

        .dashboard-search {
            padding: 0.5rem;
            display: flex;
            align-content: flex-end;
            justify-content: space-evenly;
            outline: #bb8ee7;
            border: dotted 1px $border-light;
            font-size: 1rem;

            > * {
                margin-right: 0.5rem;
                background-color: #8f8fd9;
            }

            &:active,
            &:focus {
                outline: #b4b41a;
            }
        }

        .main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

        }

        .board-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-left: 0.5rem;

        }

        .board {
            display: flex;
            padding: 0.3rem;
            margin: 1rem;
            width: 20%;
        }

        .modal-board {
            border-radius: 5%;
            border: 1px solid #00ff95;
            display: flex;
            flex-direction: column;
            padding: 0.5rem 1rem;
            flex-basis: 50%;
        }
    }

}
@media (max-width: 550px) {
    .dashboard-search {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: stretch;

           > * {
        margin-bottom: 0.3rem;
    }
    }
}

