* {
    box-sizing: border-box;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100vh;
    margin: 0 auto;


}
