<form (ngSubmit)="onSaveClick()" [formGroup]="form" class="highlighted board-form modal">
    <div class="modal-container">
        <h2 class="form__title">Task</h2>

        <div class="form-container__input">
            <label for="name">Name: <input [value]="task.name" formControlName="name" id="name"> </label>
        </div>

        <label for="name">Status: <select [value]="task.status" formControlName="status" id="status">
            <option value="todo">To Do</option>
            <option value="in-progress">In Progress</option>
            <option value="done">Done</option>
        </select> </label>

        <div class="form-container__input">
            <label for="comment">Comment: <input formControlName="comment" id="comment" placeholder="new comment">
            </label>
        </div>

        <div>Previous comments:</div>
        <ng-container *ngFor="let comment of task.comments">
            <p>{{ comment.text }}</p>
        </ng-container>

        <button (click)="onCloseClick()" class="button" id="buttonClose" type="button">Cancel</button>
        <button class="button" id="buttonSave" type="submit">Save</button>
    </div>
</form>
